{% extends "site_pages/index.html" %}

{% block title %}
<title>Accreditation - Trinity Theological Seminary</title>
{% endblock %}
{% block content %}
<section class="about-section accreditation-section">
    <div class="container">
        <h2 class="section-title">Our <span class="highlight">Accreditation</span></h2>
        <div class="about-content">

            <!-- MAIN ACCREDITATION DESCRIPTION -->
            <div class="about-text">
                <p>
                    <strong>Concerning seminary accreditation</strong>, the value of any accredited university
                    accredited bible college or accredited online seminary degree is subjective, depending on the amount
                    of work that went into earning it, the student’s attitude and aptitude, and external circumstances
                    related to the school itself or to the graduate’s working world.
                </p>

                <p>
                    You should be aware that many Christian Private Schools, Bible Colleges, and Seminaries elect not to
                    be governed by Department of Education of the each country and do not seek Regional Accreditation,
                    which is more common among Secular Colleges and Universities. Christian Educational Ministries are
                    automatically exempt from the dictates of both the Government and secular accreditation agencies.
                    Trinity Theological Seminary, like other Christian Education Ministries, has full theological
                    accreditation with <strong>ICTA (INTERNATIONAL COMMISSION FOR THEOLOGICAL ACCREDITATION, USA) & IATA
                        (INTERNATIONAL ASSOCIATION FOR THEOLOGICAL ACCREDITATION, INDIA )</strong> which is recognized
                    and respected as an acceptable form of accreditation for those in pursuit of ministry related
                    avocations.
                </p>

                <p>
                    Trinity Theological Seminary theologically accredited institution of higher learning. Most
                    accredited universities, accredited seminaries, accredited Bible colleges and accredited colleges
                    have their own criteria for recognition and acceptability of online educational credits. The
                    individual should always address specific questions to selected institutions in determining their
                    particular criteria concerning accreditation.
                </p>

                <p>
                    Trinity Theological Seminary is an educational outreach ministry of Savior Foundation’s
                    International Missions Worldwide. United States Government Approval We are recognized by the
                    Government of the United States of America, as a Religious Organization with all rights and
                    privileges as provided by law. Religious Organization with all rights and privileges as provided by
                    law.
                </p>
                <!-- SUB HEADING -->
                <h3 class="about-subtitle">About Accreditation</h3>

                <!-- ABOUT ACCREDITATION CONTENT -->
                <p>Throughout history there has always been some religious confusion and there is some controversy
                    over
                    the subject of accreditation today. But to clarify the issue:</p>
                <p>There is secular education and there is religious education.</p>
                <p>Secular schools seek secular accreditation, and sacred schools receive sacred accreditation –
                    each by
                    their own peers.
                </p>
                <p>Religious institutions need no secular accreditation because they offer no secular degrees.</p>
                <p>Secular accreditation associations in turn are recognized by governmental agencies. They trace
                    their
                    authority back up to the capitol of a country
                    Religious accrediting associations are recognized by the Church of Jesus Christ, which has no
                    supreme central office on earth. Our authority is derived from Heaven.
                    Civil and religious interests are different and have separate realms of jurisdiction.</p>
                <p>The state is not superior to the Church. The Church need not wait for approval from the secular
                    world.</p>
                <p>Civil agencies should not be dictating standards of Christian education, any more than a police
                    officer should be directing the worship of God.</p>
                <p>Theological Seminaries should not be accredited by accrediting associations that are “recognized”
                    by
                    an agency of the federal government, because it is contrary to the Biblical principle of
                    “Separation
                    of Church and State”, indicated by Christ when he said, “render to Caesar the things that are
                    Caesar’s and to God the thing that are God’s.” Mark 12:7.</p>
                <p>
                    What business does a Christian educator have, going to the world of unbelievers for recognition
                    and
                    acknowledgment as II Cor. 6:14 says, “Be not equally yoked together with unbelievers: For what
                    fellowship hath righteousness with unrighteousness?”
                </p>
                <p>
                    Trinity Theological Seminary is affiliated with two major accrediting agencies viz
                    <strong>INTERNATIONAL COMMISSION FOR THEOLOGICAL ACCREDITATION (ICTA)</strong>
                    and
                    <strong>INTERNATIONAL ASSOCIATION FOR THEOLOGICAL ACCREDITATION (IATA)</strong>.
                </p>
                <p>
                    As a theologically accredited Biblical seminary, we are not required, by the U.S. Dept. of
                    Education
                    or any other agency, to have regional accreditation nor are we subject to governmental or
                    secular
                    oversight. As such, our educational programs are not required to qualify our students for either
                    governmental or secular certification. However, legally, our degrees are classified as
                    theologically
                    accredited and state authorized as exempt, which fully qualifies all degrees from Trinity
                    Theological Seminary to be recorded professionally both on your resume and in personal
                    employment
                    records. You can be proud of the legitimacy of your Degrees from Trinity Theological Seminary.
                </p>

                <p>
                    Our ministries are recognized by the Government of the United States, as a Religious
                    Organization.
                    Since we are considerate of and obedient to all of the laws set by our government, as a
                    Christ-centered biblical education ministry, our ultimate authority is God and as such we choose
                    to
                    remain free in our rights to teach degree programs based on the word of God as found in His Holy
                    Bible. However, Because of our legal position based on the U.S. Constitution, NO outside agency
                    has
                    any authority over our educational content regarding our right to teach Bible-based educational
                    programs leading to the award of appropriate certificates and degrees.
                </p>

                <p> In the United States, accreditation of universities and seminaries is a voluntary process with
                    accreditation granted by private, non-governmental agencies. Governmental agencies never provide
                    theological accreditation.
                </p>

                <p>
                    Additionally, there is no national standard for educational accreditation, and the educational
                    world
                    is currently re-examining criteria for accreditation, focusing less on institutional inputs and
                    more
                    on educational outcomes.
                </p>

                <p>
                    There is no such requirement as Federal or State accreditation of a religious institution
                    because
                    the civil government has no authority to regulate religious teachings or which certificates or
                    religious degrees upon completion of such education may be issued. This is a matter of
                    separation of
                    Church and State. Politicians and civil authorities must never be allowed to officially endorse
                    or
                    disapprove directly or indirectly the beliefs and practices of churches or their schools. A
                    casual
                    survey of Church history shows that such linkage with “Caesar” eventually leads to infringement
                    upon
                    conscience, bondage, and corruption. Therefore, to be accredited by any agency, which in turn is
                    controlled by the U.S. Department of Education, would to some degree be a compromise of the
                    separation principle and constitute a violation of the Church’s sovereignty. <strong>Jesus came
                        and
                        spake unto them, saying,</strong>All power is given unto me in heaven and in earth. Go ye
                    therefore,
                    and
                    teach all nations, baptizing them in the name of the Father, and of the Son, and of the Holy
                    Ghost:
                    Teaching them to observe all things whatsoever I have commanded you: and, lo, I am with you
                    alway,
                    even unto the end of the world. Amen.Matt 28:18-20 (KJV)
                </p>
            </div>
</section>

{% endblock %}